.contact-form{
    height: 80vh;
    max-width: 1400px;
    margin: 0 auto;
    background-image: url("../../img/vintage-wallpaper.webp");
    background-color: rgba(19, 174, 102, 0.6);
    background-blend-mode: hard-light;
}

.c-main-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    top: 11%;
}

.c-main-container>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.c-main-container .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-main-container .user{
        width: 16rem;
    }

}