/* ----- for PC ----- */

.header {
  height: 300px;
  width: 100vw;
  max-width: 1400px;
  display: relative;
  margin: 0 auto;
  top: 0;
  background: linear-gradient(180deg, #c1cdd3 40.71%, #add1db 98.76%);
  border: 1px solid #c1c9dc;
  box-shadow: inset 4px -7px 4px -1px rgba(99, 102, 102, 0.25);
}

.top-padding-box {
  height: 10%;
  margin-bottom: 1rem;
  background: rgb(121, 121, 100);
}

.side-icon-container  {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  width: 100%;
}

.side-icon-container img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  margin: 0 auto;
  top: -28%;
  gap: 1.5rem;
}

.title img {
  display: inline-block;
  width: 8rem;
  height: auto;
  margin: 0 auto;
}

.title h2 {
  font-size: 18px;
  font-weight: bold;
  margin: -3rem auto;
  text-align: center;
}

.navbar {
  position: relative;
  width: 36rem;
  height: 9rem;
  margin: -1rem auto;
  z-index: 2;
}

.navbar >ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
}

.navbar >ul > li {
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 13rem;
  height: 4rem;
  left: 220px;
  top: 104px;
  background: linear-gradient(180deg, #C2DAEF 40.71%, #add1db 98.76%);
  border: 1px solid #000000;
  box-shadow: inset -4px -11px 4px -1px rgba(105, 255, 246, 0.25);
  border-radius: 26px 0px 0px 26px;
}

.navbar_img {
  display: block;
  width: 40px;
  height: 40px;
  margin: -10px auto;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
}

ul li:nth-child(2) {
  border-radius: 0px;
}

ul li:nth-child(3) {
  border-radius: 0px;
}

ul li:nth-child(4) {
  border-radius: 0px;
}

ul li:nth-child(5) {
  border-radius: 26px 26px 26px 0px;
  position:relative;
  width: 13rem;
  height: 5.5rem;
  top: -0.73rem ;
  left: -0.1rem ;
  padding-top: 32px;
  background: linear-gradient(180deg, #FFC226 60.71%, #f08d23 99.76%);
  border: 2px solid #000000;
  box-shadow: inset 7px 20px 13px -11px rgba(252, 255, 82, 0.75),
              inset -4px -11px 4px -1px rgba(176, 113, 26, 0.25);
}

ul li:nth-child(5) .navbar_img {
  width: 52px;
  height: 52px;
  position: relative;
  top: 14px;
}

ul li:nth-child(5) h3 {
  font-size: 1.3rem;
  color: #FFFFFF;
  -webkit-text-stroke: 4px solid rgba(130, 15, 0, 0.3);
}

ul > li:hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  /*  ----- for IPhone ----- */

  .title img {
    width: 7rem;
    margin: 1rem auto;
  }

  .navbar {
    display: none;
  }
}

@media screen and (min-width: 561) and (max-width: 768) {
  /*  ----- for Tablet ----- */

  .title img {
    width: 7rem;
  }

  .navbar {
    width: 20rem;
    height: 5rem;
  }
}
