.tm-wrapper{
    height: 700px;
    width: 100vw;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    background-image: url("../../img/vintage-wallpaper.webp");
    background-color: rgba(90, 94, 98, 0.945);
    background-blend-mode: hard-light;
}

.swiper {
    margin: -80px 10px;
}

.swiper-button-next {
    margin-right: 200px;
    transition-duration: 100ms;
    --swiper-navigation-color: #d09e20;
}

.swiper-button-prev {
    margin-left: 180px;
    transition-duration: 100ms;
    --swiper-navigation-color: #d09e20;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 14rem;
    position: relative;
    left: -1%;
    background: linear-gradient(150deg, #dfdfc6 60.71%, #d4cab7 95.76%);
    border: 7px solid #4d3c0d;
    box-shadow: 0px 8px 18px 3px rgba(27, 27, 33, 0.42);
    border-radius: 20px;
}

.testimonial>img{
    width: auto;
    height: 9rem;
    border-radius: 100%;
}

.testimonial>span{
    color: var(--gray);
}


/* slider */
.tm-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.tm-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-wrapper .swiper-pagination-bullet-active{
    background: var(--orange);
}

@media screen and (max-width: 768px){
    .tm-wrapper{
        padding: 0;
    }
    .testimonial>img{
        width: auto;
        height: 7rem;
    }
    .swiper-button-next {
        margin-right: 50px;
    }

    .swiper-button-prev {
        margin-left: 50px;
    }
}