.experience {
    position: relative;
    height: 1700px;
    width: 100vw;
    max-width: 1400px;
    margin: 0 auto;
    background-image: url("../../img/vintage-wallpaper.webp");
    background-color: rgba(19, 174, 102, 0.6);
    background-blend-mode: hard-light;
}

.ex-main-container {
    height: 1200px;
    width: 85%;
    margin: 0 auto;
}

.ex-main-container h2 {
    text-align: center;
    margin: 20px 135px ;
    font-weight: 600;
    font-size: 1.3rem;
    border-bottom: 2.5px solid #000000;
}

.ex-frontend-container {
    height: 450px;
    margin: 30px auto;
    border: 2px solid #cacaca;
    background: linear-gradient(150deg, #dfdfc6 60.71%, #d4cab7 95.76%);
    box-shadow: 0px 8px 18px 3px rgba(27, 30, 33, 0.42);
    border-radius: 26px;
}

.ex-backend-container {
    height: 450px;
    margin: 30px auto;
    border: 2px solid #cacaca;
    background: linear-gradient(150deg, #dfdfc6 60.71%, #d4cab7 95.76%);
    box-shadow: 0px 8px 18px 3px rgba(27, 30, 33, 0.42);
    border-radius: 26px;
}

.ex-otherskills-container {
    height: 450px;
    margin: 30px auto;
    border: 2px solid #cacaca;
    background: linear-gradient(150deg, #dfdfc6 60.71%, #d4cab7 95.76%);
    box-shadow: 0px 8px 18px 3px rgba(27, 30, 33, 0.42);
    border-radius: 26px;
}

.ex-main-container ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 150px -40px;
}


.ex-main-container ul li {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 0 auto;
}

.ex-frontend-container ul li {
    width: 16%;
}

.ex-backend-container ul li {
    width: 20%;
}

.ex-otherskills-container ul li {
    width: 15%;
}

.ex-graph {
    position: relative;
    width: 20px;
    height: 200px;
    border: 1px #4d3c0d solid;
    background-color:#4d3c0d;
    margin: 0px auto;
    overflow: hidden;
}

.ex-main-container h5 {
    font-size: 0.8rem;
}

.ex-main-container img {
    width: 30px;
    height: 30px;
}

.ex-inner-graph{
    position: absolute;
    width: 20px;
    background-color: #dfdfc6;
    margin-top: 1px;
}
.fukidashi {
    display: none;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 100px;
    padding: 16px;
    border-radius: 5px;
    background: #66848a;
    color: #fff;
    font-size: 0.7rem;
}

.ex-backend-container .fukidashi {
    top: 720px;
    left: 100px;
}

.ex-otherskills-container .fukidashi {
    top: 1160px;
    left: 100px;
}

.ex-inner-graph:hover + .fukidashi {
    display: block;
}

/* frontend skill graph*/
.ex-frontend-container li:first-child .ex-inner-graph {
    height: 80px;
}
.ex-frontend-container li:nth-child(2) .ex-inner-graph {
    height: 80px;
}
.ex-frontend-container li:nth-child(3) .ex-inner-graph {
    height: 90px;
}
.ex-frontend-container li:nth-child(4) .ex-inner-graph {
    height: 150px;
}
.ex-frontend-container li:nth-child(5) .ex-inner-graph {
    height: 110px;
}

/* backend skill graph*/
.ex-backend-container li:first-child .ex-inner-graph {
    height: 140px;
}
.ex-backend-container li:nth-child(2) .ex-inner-graph {
    height: 180px;
}
.ex-backend-container li:nth-child(3) .ex-inner-graph {
    height: 170px;
}
.ex-backend-container li:nth-child(4) .ex-inner-graph {
    height: 140px;
}

/* other skill graph*/
.ex-otherskills-container li:first-child .ex-inner-graph {
    height: 145px;
}
.ex-otherskills-container li:nth-child(2) .ex-inner-graph {
    height: 140px;
}
.ex-otherskills-container li:nth-child(3) .ex-inner-graph {
    height: 80px;
}
.ex-otherskills-container li:nth-child(4) .ex-inner-graph {
    height: 90px;
}
.ex-otherskills-container li:nth-child(5) .ex-inner-graph {
    height: 100px;
}

@media screen and (max-width: 560px) {

    /*  ----- for IPhone ----- */

}

@media screen and (min-width: 561px) and (max-width: 768px) {

    /*  ----- for Tablet ----- */

}