.firstview {
    position: relative;
    height: 56vw;
    width: 100vw;
    max-height: 784px;
    max-width: 1400px;
    align-items: center;
    margin: 0 auto;
}

.fv-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.fv-background-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.fv-text-back {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.fv-effect1 {
    height: 100%;
    width: 100%;
}

.fv-effect2 {
    position: absolute;
    top: 0.065%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.fv-effect {
    height: 100%;
    width: 100%;
}

.fv-text-container {
    position: absolute;
    height: 70%;
    width: 45%;
    z-index: 2;
    left: 0%;
    text-align: center;
}

.fv-text-container h1 {
    margin: 20% auto;
    font-size: calc(1.4rem + 2.5 * (100vw - 70vw) / 70);
    font-weight: bold;
    color: #fffae3;
    -webkit-text-stroke: 0.2px rgb(168, 169, 155);
    line-height: 2.5rem;
    margin-top: 27%;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
}

.fv-button-container {
    position: absolute;
    height: 30%;
    width: 45%;
    z-index: 3;
    left: 0%;
    top: 70%;
    text-align: center;
}

.fv-button {
    background: linear-gradient(180deg, #fdc10f 26.71%, #dc7d1f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 68px;
    border: 1px solid #8a6f3a;
    color: white;
    height: 4rem;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 22px 8px 22px;
}

.fv-button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
}

@media screen and (max-width: 560px) {

    /*  ----- for IPhone ----- */

    .fv-text-container {
        width: 55%;
    }

    .fv-text-container h1 {
        margin: auto auto;
        padding-top: 10%;
        font-size: 0.95rem;
        line-height: 1.2rem;
    }

    .fv-button-container {
        width: 55%;
    }

    .fv-button {
        height: 2rem;
        font-size: 12px;
        padding: 8px 12px 8px 12px;
    }
}

@media screen and (min-width: 561px) and (max-width: 768px) {

    /*  ----- for Tablet ----- */
    .fv-text-container h1 {
        margin: 23% auto;
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .fv-button {
        height: 3rem;
        font-size: 16px;
        padding: 8px 14px 8px 14px;
    }
}